/* ----------- */
/* -- ABOUT -- */
/* ----------- */

.about .s-heading {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .about .s-heading {
        text-align: center;
        margin-top: 3.5rem;
    }
}

.about__description {
    margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
    .about__description {
        margin-bottom: 3.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .about__description {
        margin-bottom: 0rem;
    }
}

.about__picture {
    margin-top: 4.25rem;
    margin-bottom: 7rem;
    
}

@media only screen and (min-width: 768px) {
    .about__picture {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 992px) {
    .about__picture {
        margin-top: 0rem;
    }
}

.about__image-container {
    position: relative; 
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    .about__image-container {
        width: 80%;
    }
}

.about__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 
        0 0 0 0.5em rgb(255 215 0 / 1.0),
        0 0 0 1em rgb(255 215 0 / 0.8),
        0 0 0 1.5em rgb(255 215 0 / 0.6),
        0 0 0 2em rgb(255 215 0 / 0.4),
        0 0 0 2.5em rgb(255 215 0 / 0.2);
}

@media only screen and (min-width: 768px) {
    .about__image {
        height: 250px;
        width: 250px;
    }
}

.about__floating-image {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 
        0 0 0 0.5em rgb(255 16 240 / 1.0),
        0 0 0 1em rgb(255 16 240 / 0.8),
        0 0 0 1.5em rgb(255 16 240 / 0.6),
        0 0 0 2em rgb(255 16 240 / 0.4),
        0 0 0 2.5em rgb(255 16 240 / 0.2);

}

@media only screen and (min-width: 768px) {
    .about__floating-image {
        height: 150px;
        width: 150px;
    }
}

.about__floating-image--left {
    bottom: -3rem;
    left: 10%;
}

.about__floating-image--right {
    top: -4.5rem;
    right: 10%;
}

@media only screen and (min-width: 768px) {
    .about__floating-image--left {
        bottom: -2rem;
    }

    .about__floating-image--right {
        top: -3.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .about__floating-image--left {
        bottom: -6rem;
        left: 50%;
    }

    .about__floating-image--right {
        top: -2rem;
        right: -5%;
    }
}
