/* ---------------- */
/* -- NAVIGATION -- */
/* ---------------- */

.nav {
    background: var(--background-dark);
    border-bottom: 1px solid var(--border-lighter);
    top: -2px;
}

.navbar {
    padding: 0.5rem 1.5rem;
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 0.5rem 2.5rem;
    }
}

.nav .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--text-light);
    padding-left: 2.5rem;
    padding-right: 0;
}

.nav .nav-link:hover,
.nav .nav-link:active,
.nav .nav-link:focus {
    color: var( --text-secondary);
    text-decoration: underline;
}

.nav .navbar-brand {
    color: var( --text-primary);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.navbar-toggler {
    padding-right: 0;
}

.nav__menu {
    height: 30px;
    width: 30px;
}
