/* ---------------- */
/* -- NAVIGATION -- */
/* ---------------- */

.nav {
    background: var(--background-dark);
    border-bottom: 1px solid var(--border-lighter);
}

.nav .nav-link {
    color: var(--text-light);
}

.nav .nav-link:hover,
.nav .nav-link:active,
.nav .nav-link:focus {
    color: var( --text-secondary);
    text-decoration: underline;
}

.nav .navbar-brand {
    color: var( --text-primary);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.navbar-toggler {
    padding-right: 0;
}

.nav__menu {
    height: 30px;
    width: 30px;
}
