/* -------------- */
/* -- PROJECTS -- */
/* -------------- */

.projects .s-heading {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.projects .s-heading-info {
    text-align: left;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .projects .s-heading {
        text-align: center;
        margin-top: 2.75rem;
    }

    .projects .s-heading-info {
        text-align: center;
        margin-bottom: 3.5rem;
    }
}

.projects__carousel {
    position: relative;
    margin-bottom: 4rem;
}

.projects .carousel-indicators {
    position: static;
    flex-wrap: wrap;
    margin: 1rem -0.75rem 0rem;
}

@media only screen and (min-width: 768px) {
    .projects .carousel-indicators {
        flex-wrap: nowrap;
        margin: 1rem 0rem 0rem;
    }
}

.projects .carousel-indicators li {
    background: var(--background-light);
    border: 1px solid var(--background-light);
    width: calc(20% - 1rem);
    height: auto;
    text-indent: 0;
    margin: 0 0.25rem 0.5rem;
}

@media only screen and (min-width: 768px) {
    .projects .carousel-indicators li {
        width: auto;
        margin: 0;
    }
}

.projects .carousel-indicators li + li {
    margin-left: 0.5rem;
}

.projects__image-container {
    display: flex;
    align-items: center;
    border: 2px solid var(--border-lighter);
    background: var(--background-light);
    height: 300px;
    padding: 1rem;
    overflow: hidden;
}

@media only screen and (min-width: 576px) {
    .projects__image-container {
        height: 600px;
    }
}

@media only screen and (min-width: 992px) {
    .projects__image-container {
        padding: 2rem;
    }
}

.projects__image {
    max-height: calc(600px - 2rem);
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}

@media only screen and (min-width: 992px) {
    .projects__image {
        max-height: calc(600px - 4rem);
    }
}

.projects__link {
    position: absolute;
    padding: 0.5rem 0.75rem;
    bottom: 0.25rem;
    right: 0.5rem;
    text-decoration: none;
    font-size: 0.75rem;
}

.projects__link:hover,
.projects__link:active,
.projects__link:focus {
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    .projects__link {
        padding: 1rem 1.5rem;  
        bottom: 1rem;
        right: 1rem;
        font-size: 1rem;
    }
}

.projects__link-icon {
    display: inline;
    margin: 0;
    margin-right: 0.25rem;
    height: 1rem;
    width: 1rem;
}

@media only screen and (min-width: 992px) {
    .projects__link-icon {
        height: 1.25rem;
        width: 1.25rem;
    }
}

.projects__link-text {
    display: inline;
    margin: 0;
}

.projects .carousel-control-prev,
.projects .carousel-control-next {
    height: 300px;
    width: 25%;
    opacity: 0;
}

@media only screen and (min-width: 576px) {
    .projects .carousel-control-prev,
    .projects .carousel-control-next {
        height: 600px;
    }
}
